body{
    background-color: rgb(198, 171, 212);
    margin: 0px;
    padding: 0px;
}


.form-wrapper{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
   padding: 20px;
   position: relative;
}
.eye-icon{
    height: 20px;
    position: absolute;
    top: 129px;

    right: 135px;
   
}
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}